[Unit]
Description=CRI-O Auto Update Script
Before=crio.service
RequiresMountsFor=/var/lib/containers

[Service]
# On a real node the storage dir should be wiped when a new crio version
# is started. However in this containerized setup /var/lib/containers
# cannot be removed since it is mounted
EnvironmentFile=-/etc/sysconfig/crio
#ExecStart=/usr/local/bin/crio \
#          $CRIO_CONFIG_OPTIONS \
#          $CRIO_RUNTIME_OPTIONS \
#          $CRIO_STORAGE_OPTIONS \
#          $CRIO_NETWORK_OPTIONS \
#          $CRIO_METRICS_OPTIONS \
#		  wipe
ExecStart=/bin/true
Type=oneshot

[Install]
WantedBy=multi-user.target
