[Unit]
Description=kubeadm: The Kubernetes node initializer
Documentation=http://kubernetes.io/docs/
After=docker.service kubelet.service
Wants=docker.service kubelet.service
OnFailure=stop.service

[Service]
Type=oneshot
RemainAfterExit=true
EnvironmentFile=/run/env
StandardOutput=journal+console
ExecStart=/setup.sh
# see https://kubernetes.io/docs/tasks/administer-cluster/safely-drain-node
ExecStop=/opt/bin/kubectl drain --ignore-daemonsets --delete-local-data %H

[Install]
WantedBy=multi-user.target
