[Unit]
Description=kubeadm: The Kubernetes node initializer
Documentation=http://kubernetes.io/docs/
After=crio.service kubelet.service
Wants=crio.service kubelet.service
OnFailure=stop.service

[Service]
Type=oneshot
RemainAfterExit=true
EnvironmentFile=/run/env
StandardOutput=journal+console
ExecStart=/setup.sh
# see https://kubernetes.io/docs/tasks/administer-cluster/safely-drain-node
# TODO: Fix test cluster shutdown since elasticsearch keeps hanging in terminating state when draining
ExecStop=/opt/bin/kubectl drain --force --ignore-daemonsets --delete-local-data %H
ExecStop=/opt/bin/kubectl delete node %H

[Install]
WantedBy=multi-user.target
